#body1 {
    padding: 10% 0 10% 0;
    color: white;
    border-right: solid;
    border-radius: 10px;
}
#body1 .container {
    border-right:thin solid;
}
.overlay img {
    height: 40%;
    width: 40%;
    opacity:0.9;
}
.overlay a{
        height:40px;
        width: 300px;
        margin: 5% 0 5% 10%;
}
.overlay { 
    position:absolute;
    z-index:20;
    left: 0;
    width:100%;margin: 5% 0 0 0;
  }
.carousel-inner img {
    width: 100%;
    height: 100%;
  }